* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  align-items: center;

  max-width: 1000px;
  background: #fff;
}

.header {
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: black;
}

.logo-icon {
  width: 20px;
  height: 20px;
  fill: black;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: gray;
  font-weight: 700;
  position: relative;
  padding-bottom: 4px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.cart-icon {
  position: relative;
  font-size: 18px;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  width: 18px;
  height: 18px;
  background: rgb(150, 135, 235);
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 24px;
}

.products-header {
  margin-bottom: 32px;
  font-weight: 500;
}

.products-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 500;
  color: rgba(29, 14, 72, 0.752);
}

.hidden {
  display: none;
}

.nav-bar {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.products-layout {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.filters-aside {
  width: 220px;
}

.filters-aside h4 {
  margin: 20px 0 10px;
  font-size: 14px;
}

.filters-aside ul {
  color: gray;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters-aside li {
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
}

.filter-group {
  margin-top: 24px;
}

.filter-group h4 {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.company-select {
  width: 100%;

  padding: 6px 8px;
  font-size: 14px;
  border: 1.5px solid rgb(150, 135, 235);
  border-radius: 4px;
  background-color: #fff;

  cursor: pointer;
}

.price-value {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgb(150, 135, 235);
  font-weight: 500;
}

.price-range {
  width: 100%;
  cursor: pointer;
}

.checkbox-group {
  margin-top: 20px;
  font-size: 14px;
}

.checkbox-group input {
  margin-right: 6px;
}

.clear-filters-btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #e11d48;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.clear-filters-btn:hover {
  opacity: 0.9;
}

#searchInput {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid blueviolet;
}

#categoryList li {
  text-transform: uppercase;
}

.company-select {
  color: black;
}

.products-grid article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#categoryList li {
  cursor: pointer;
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
}

#categoryList li.active {
  border-bottom: 2px solid slateblue;
  width: 60%;
}
